<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/navbar}"/>
<main>
    <hr class="hr-2"/>
    <div class="container-fluid">

        <h2>Events</h2>
        <hr class="hr-2"/>
        <div class="container-fluid">
            <th:block th:each="event:${events}">
                <div class="row  d-flex justify-content-center events-all">
                    <div id="events-all-img" class="col-md-5">
                        <img th:src="@{${event.imageUrl}}" class="border border-secondary" height="300px"/>
                    </div>
                    <div id="events-all-title" class="col-md-6">
                        <h1 id="event-name" >[[${event.name}]]</h1>

                       <h1 id="event-all-details" ><a class="btn-events top-button btn-artworks"
                                th:href="@{/events/details/{id}(id=${event.id})}">Details</a></h1>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</main>
<th:block th:include="fragments/footer"/>
</body>
</html>