<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/navbar}"/>
<main>
    <hr class="hr-2"/>
    <div class="container-fluid">
        <div id="event-details-parent" class="row  d-flex justify-content-around">
            <div class="event-details-parent">
                <div id="event-name" class="col-md-12">
                    <h2 class="event-name">[[${event.name}]]</h2>

                    <hr class="hr-2"/>
                </div>
                <div id="event-img" class="col-md-6">
                    <img th:src="@{${event.imageUrl}}" class="border border-secondary"  width="590px" style="margin-top: 60px"/><br/></div>
                <div id="event-details" class="col-md-5 col-md-offset-1">
                    <br/>
                    <br/>
                    <label for="event-description" style="text-align: left">Description:</label>
                    <br/>
                    <textarea id="event-description" rows="10" cols="70" th:text="${event.description}"
                              disabled="disabled">[[{$event.description}]]</textarea>
                    <br/>
                    <div></div>
                    <div id="event-location">
                          <p>[[${event.name}]] will take place at [[${event.location}]]</p>
                        <br/>
                        <p>Opening: <span th:text="${event.startsOn}"></span>.</p>
                        <br/>
                        <p>Closing ceremony:  <span th:text="${event.endsOn}"></span>.</p>
                    </div>
                    <div id="div-btn-events-details" class="btn-events">
                        <a class="btn-artworks" th:href="@{/events/all}">Close</a>
                        <th:block sec:authorize="hasAuthority('ROLE_MODERATOR')">
                            <a class="btn-artworks" th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>
                            <form th:action="@{/events/delete/{id}(id=${event.id})}" th:method="post">
                                <button type="submit" class="btn-artworks">Delete</button>
                            </form>
                        </th:block>
                    </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:include="fragments/footer"/>
</body>
</html>