<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/navbar}"/>
<main>
    <hr class="hr-2"/>
    <div class="container-fluid">
        <div id="artwork-details-parent" class="row  d-flex justify-content-center">
            <div class="artwork-details-parent">
                <div id="artwork-name" class="col-md-12">
                    <h2 class="artwork-name">[[${artwork.name}]]</h2>
                    <hr class="hr-2"/>
                </div>
                <div id="artwork-img" class="col-md-6">
                    <img th:src="@{${artwork.imageUrl}}" class="border border-secondary" height="500px"/><br/></div>
                <div id="artwork-details" class="col-md-5 col-md-offset-1">
                    <br/>
                    <br/>
                    <label for="artwork-description" style="text-align: left">Description:</label>
                    <br/>
                    <textarea id="artwork-description" rows="8" cols="70" th:text="${artwork.description}"
                              disabled="disabled">[[{$artwork.description}]]</textarea>
                    <br/>
                    <div></div>
                    <p><a id="artwork-category"
                          th:href="@{/artworks/artworks-by-category/{category}(category=${artwork.category})}">[[${artwork.category}]]</a>
                        by [[${artwork.artist.name}]]
                    </p><br/>
                    <p><a id="artwork-artist" th:href="@{/artists/details/{id}(id=${artwork.artist.id})}"> Artist</a>
                        information</p>
                    <br/>
                    <br/>
                    <th:block th:if="${artwork.isAvailable()!=false}">
                        <div id="artwork-price">Price: [[${artwork.price}]] BGN</div>
                    </th:block>
                    <br/>
                    <br/>
                    <div id="div-btn-artworks">
                        <th:block th:if="${artwork.isAvailable()==false}">
                            <h3>Sold</h3>
                        </th:block>
                        <th:block th:unless="${artwork.isAvailable()==false}">
                            <form th:action="@{/cart/add-artwork/{id}(id=${artwork.id})}" th:method="post"
                                  th:object="${artwork}">
                                <button type="submit" class="btn-artworks">Add To Cart</button>
                            </form>
                        </th:block>
                        <th:block th:if="${artwork.isAvailable()==true}">
                            <th:block sec:authorize="hasAuthority('ROLE_MODERATOR')">
                                <a class="btn-artworks" th:href="@{/artworks/edit/{id}(id=${artwork.id})}">Edit</a>
                                <a class="btn-artworks" th:href="@{/artworks/delete/{id}(id=${artwork.id})}">Delete</a>
                            </th:block>
                        </th:block>


                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:include="fragments/footer"/>
</body>
</html>