<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/navbar}"/>
<div class="container-fluid w-15">
    <form id="user-register-form" style="margin-top: 110px" th:action="@{/artists/create}" enctype="multipart/form-data" th:method="post" th:object="${artistCreateModel}">
        <h2 style="text-align: center;color: #563D7C">Create Artist</h2>
        <hr id="my-hr"/>
        <div class="form-group " th:classappend="${#fields.hasErrors('${artistCreateModel.name}')}?'text-danger'">
            <p style="text-align: center">
                <label for="name" class="floatLabel">Name</label>
                <input placeholder="Name" id="name" th:field="*{name}" name="name" type="text">
            </p>
            <small id="nameHelp" th:each="err:${#fields.errors('${artistCreateModel.name}')}" th:text="${err}">
            </small>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('${artistCreateModel.livesIn}')}? 'text-danger'">
            <p style="text-align: center">
                <label for="livesIn" class="floatLabel">Lives in</label>
                <input placeholder="Lives in" id="livesIn" name="livesIn" th:field="*{livesIn}" type="text">
            </p>
            <small th:each="err:${#fields.errors('${artistCreateModel.livesIn}')}" th:text="${err}"></small>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('${artistCreateModel.history}')}?'text-danger'">
            <p style="text-align: center">
                <label for="history" class="floatLabel">History</label>
                <textarea placeholder="History" rows="7" cols="70" id="history"  name="history" th:field="*{history}" ></textarea>
            </p>
            <small th:each="err:${#fields.errors('${artistCreateModel.history}')}" th:text="${err}"></small>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('${artistCreateModel.education}')}?'text-danger'">
            <p style="text-align: center">
                <label for="education" class="floatLabel">Education</label>
                <input placeholder="Education" type="text" id="education" name="education" th:field="*{education}">
            </p>
            <small th:each="err:${#fields.errors('${artistCreateModel.education}')}" th:text="${err}"></small>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('${artistCreateModel.image}')}?'text-danger'">
            <p style="text-align: center">
                <label for="image" class="floatLabel">Image</label>
                <input placeholder="Image" type="file" id="image" name="image" th:field="*{image}">
            </p>
            <small th:each="err:${#fields.errors('${artistCreateModel.image}')}" th:text="${err}"></small>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('${artistCreateModel.email}')}?'text-danger'">
            <p style="text-align: center">
                <label for="email" class="floatLabel">Email</label>
                <input placeholder="Email" type="text" id="email" name="email" th:field="*{email}">
            </p>
            <small th:each="err:${#fields.errors('${artistCreateModel.email}')}" th:text="${err}"></small>
        </div>
        <p style="text-align: center">
            <input class="inputSubmit" type="submit" value="Create Artist" id="registerArtist"/>
        </p>
    </form>


</div>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>