<th:block th:fragment>
    <head>
        <title>Art Gallery</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" th:href="@{/../images/logo.ico}">
        <!--css-->
        <link th:href="@{/../css/reset-css.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/../css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/../css/style.css}" rel="stylesheet" type="text/css"/>
        <!--js-->
        <script th:src="@{/../js/jquery-2.1.1.min.js}" type="text/javascript"></script>
        <script th:src="@{/../js/bootstrap.min.js}" type="text/javascript"></script>
    </head>
</th:block>