<th:block th:fragment>
    <header>
        <div class="top-line">
            <div class="container top-box row">
                <div class="leftside col-md-1">
                <span class="logo">
                    <a th:href="@{/}"><img src="/../images/logo.ico" alt="MT" class="img-responsive" width="85"/></a>
                </span></div>
                <div class="middleside col-md-8">
                    <p style="text-align: left">
                        Art Gallery
                    </p>
                </div>

                <div class="rightside col-md-3">
                    <div class="top-buttons">

                        <button type="button" class="top-button btn-lg" id="btn-register" th:href="@{/order-history}">Order History</button>
                        <button type="button" class="top-button btn-lg" id="btn-register" th:href="@{/favourite}">My Favourite</button>
                        <button type="button" class="top-button btn-lg" id="btn-login" th:href="@{/login}">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
</th:block>