<th:block th:fragment>
    <header class="navbar navbar-fixed-top">
        <div class="top-line">
            <div class="container top-box row">
                <div class="leftside col-md-1">
                <span class="logo">
                    <a th:href="@{/home}"><img src="/../images/logo1.ico" alt="MT" class="img-responsive"
                                               width="85"/></a>
                </span></div>
                <div class="middleside col-md-2">
                    <p style="text-align: left">
                        Art Gallery
                    </p>
                </div>

                <div class="rightside col-md-9">
                    <div class="top-buttons">
                        <a type="button"  class="top-button btn-lg" id="btn-logout"
                           th:href="@{/users/logout}">Logout</a>
                        <a type="button" class="top-button btn-lg" id="btn-favorite"
                           th:href="@{/artworks/favorite}">My Favorite</a>
                        <a type="button" class="top-button btn-lg" id="btn-order-history"
                           th:href="@{/users/order-history}">Order History</a>
                        <div class="btn-group">
                            <a  type="button" class="btn dropdown-toggle top-button btn-lg"
                               data-toggle="dropdown" id="btn-category" href="#">
                                Category
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li  th:each="category:${T(softuni.artgallery.data.models.Category).values()}"><a tabindex="-1" href="#">[[${category.name()}]]</a></li>
                            </ul>
                        </div>
                        <a type="button" class="top-button btn-lg" id="btn-events"
                           th:href="@{/events/all}">Events</a>
                        <span class="top-buttons-link" style="font-size: large;">Welcome, <a style="color: #563D7C;font-style: italic;" th:href="@{/users/profile/}">[[${session.username}]]</span></a></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
</th:block>