<th:block th:fragment xmlns="http://www.w3.org/1999/html">
    <th:block sec:authorize="isAnonymous()">
        <header>
            <div class="top-line">
                <div class="container top-box row">
                    <div class="leftside col-md-1">
                <span class="logo">
                    <a th:href="@{/}"><img th:src="@{/images/logo1.ico}" alt="MT" class="img-responsive"
                                           width="85"/></a>
                </span></div>
                    <div class="middleside col-md-8">
                        <p style="text-align: left">
                            Art Gallery
                        </p>
                    </div>

                    <div class="rightside col-md-3">
                        <div class="top-buttons">
                            <a type="button" style="text-align: center" class="top-button btn-lg" id="btn-register"
                               th:href="@{/users/register}">Register</a>
                            <a type="button" style="text-align: center" class="top-button btn-lg" id="btn-login"
                               th:href="@{/users/login}">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
        <th:block sec:authorize="hasRole('ROLE_USER')">
            <header class="navbar navbar-fixed-top">
                <div class="top-line">
                    <div class="container top-box row">
                        <div class="leftside col-md-1">
                <span class="logo">
                    <a th:href="@{/home}"><img th:src="@{/images/logo1.ico}" alt="MT" class="img-responsive"
                                               width="85"/></a>
                </span></div>
                        <div class="middleside col-md-2">
                            <p style="text-align: left">
                                Art Gallery
                            </p>
                        </div>

                        <div class="rightside col-md-9">
                            <div class="top-buttons">
                                <form th:action="@{/logout}" th:method="post">
                                    <button  class="top-button btn-lg" id="btn-logout"
                                    >Logout</button>
                                </form>
                                <a type="button" class="top-button btn-lg heart-icon" id="btn-shopping-cart"
                                   th:href="@{/shopping-cart}">Shopping Cart</a>
                                <a type="button" class="top-button btn-lg" id="btn-order-history"
                                   th:href="@{/users/order-history}">Order History</a>
                                <div class="btn-group">
                                    <div class="btn-group">
                                        <a type="button" class="btn dropdown-toggle top-button btn-lg"
                                           data-toggle="dropdown" id="btn-category" href="#">
                                            Category
                                            <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li th:each="category:${T(softuni.artgallery.data.models.Category).values()}">
                                                <a
                                                        tabindex="-1"
                                                        th:href="@{/artworks/artwork-by-category/{category}(category=${category.name()})}">[[${category.name()}]]</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <a type="button" class="top-button btn-lg" id="btn-events"
                                       th:href="@{/events/all}">Events</a>
                                    <span class="top-buttons-link" style="font-size: large;">Welcome, <a
                                            style="color: #563D7C;font-style: italic;"
                                            th:href="@{/users/profile}">[[${principal.getName()}]]</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </th:block>
        <th:block sec:authorize="hasRole('ROLE_MODERATOR')">
            <header class=" navbar navbar-fixed-top">
                <div class="top-line">
                    <div class="container top-box row">
                        <div class="leftside col-md-1">
                <span class="logo">
                    <a th:href="@{/home}"><img th:src="@{/images/logo1.ico}" alt="MT" class="img-responsive"
                                               width="85"/></a>
                </span></div>
                        <div class="middleside col-md-2">
                            <p style="text-align: left">
                                Art Gallery
                            </p>
                        </div>

                        <div class="rightside col-md-9">
                            <div class="top-buttons">
                                <form th:action="@{/logout}" th:method="post">
                                    <button type="submit" style="text-align: center" class="top-button btn-lg" id="btn-logout"
                                    >Logout</button>
                                </form>

                                <a type="button" style="text-align: center" class="top-button btn-lg" id="btn-artworks-all"
                                   th:href="@{/artworks/all}">All Artworks</a>
                                <a type="button" style="text-align: center" class="top-button btn-lg"
                                   id="btn-artwork-create"
                                   th:href="@{/artworks/create}">Artwork Create</a>
                                <a type="button" style="text-align: center" class="top-button btn-lg"
                                   id="btn--artists-all"
                                   th:href="@{/artists/all}">All Artists</a>
                                <a type="button" style="text-align: center" class="top-button btn-lg"
                                   id="btn-artist-register"
                                   th:href="@{/artists/create}">Artist Register</a>

                                <span class="top-buttons-link" style="font-size: large;">Welcome, <a
                                        style="color: #563D7C; "
                                        th:href="@{/users/profile}">[[${principal.getName()}]]</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </th:block>
        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <header class=" navbar navbar-fixed-top">
                <div class="top-line">
                    <div class="container top-box row">
                        <div class="leftside col-md-1">
                <span class="logo">
                    <a th:href="@{/home}"><img th:src="@{/images/logo1.ico}" alt="MT" class="img-responsive"
                                               width="85"/></a>
                </span></div>
                        <div class="middleside col-md-2">
                            <p style="text-align: left">
                                Art Gallery
                            </p>
                        </div>

                        <div class="rightside col-md-9">
                            <div class="top-buttons">
                                <form th:action="@{/logout}" th:method="post">
                                    <button type="submit" style="text-align: center" class="top-button btn-lg" id="btn-logout"
                                    >Logout</button>
                                </form>
                                <a type="button" style="text-align: center" class="top-button btn-lg" id="btn-users-all"
                                   th:href="@{/users/all}">All Users</a>
                                <span class="top-buttons-link" style="font-size: large;">Welcome, <a
                                        style="color: #563D7C; "
                                        th:href="@{/users/profile}">[[${principal.getName()}]]</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </th:block>
    </th:block>
</th:block>
