<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/navbar}"/>
<main>
    <hr class="hr-2"/>
    <div class="container-fluid">
        <div class="row  d-flex justify-content-center">
              <div th:each="artwork:${artworks}">
                <div id="home-artworks" class="col-md-5" >
                    <img th:src="@{${artwork.imageUrl}}" class="border border-secondary" height="300px"/><br/>
                    <div id="artwork-name">[[${artwork.name}]]</div>
                    <a class="btn-artworks" th:href="@{/artworks/details/{id}(id=${artwork.id})}">Details</a>
                </div>
              </div>
        </div>
    </div>
</main>
<th:block th:include="fragments/footer"/>
</body>
</html>