<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/navbar}"/>
<main>
    <hr class="hr-2"/>
    <div id="greeting">

    </div>
    <hr class="hr-2"/>
    <div class="container-fluid">
        <div id="home-artworks-parent" class="row  d-flex justify-content-center">
        </div>
    </div>
</main>
<th:block th:include="fragments/footer"/>
</body>
<script src="/js/greeting.js"></script>
<script src="/js/artworks.js"></script>
</html>

